/* COMMON CSS */

:root {
    --black-color: #222222;
    --pink-color: #F1E4E6;
    --dark-pink-color: #F16D7F;
    --white-color: #FFFFFF;
    --grey-color: #9F9F9F;
    --dark-grey-color: #5D5D5D;
    --background-grey-color: #F8F8F8;
    --button-pink-color: #F26376;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

/* HEADER */

.header {
    background-color: var(--black-color);
    position: relative;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__wrapper {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-link {
    margin: 0 41px 0 0;
}

.header__list {
    display: flex;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
}

.header__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 0 0 20px;
}

.header__nav {
    position: absolute;
    top: 75px;
    background-color: orange;
    right: 0;
    width: 150px;
}

/* MAIN */

/* INTRO */

.intro {
    display: flex;
}

.intro__title-wrapper {
    width: 100%;
    background-color: var(--pink-color);
    display: flex;
    align-items: center;
    padding: 0 0 0 64px;
}

.intro__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    border-left: 12px solid var(--dark-pink-color);
    padding: 0 0 0 16px;
    color: var(--black-color);
}

/* Может здесь (108 и 115 строка css) тоже модификатор лучше будет? */

.intro__bold-text {
    display: block;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.intro__pink-text {
    color: var(--dark-pink-color);
}

/* STOCKS */

.stocks__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 63px 0 0 0;
}

.stocks__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.stocks__item_woman,
.stocks__item_man,
.stocks__item_kid {
    margin: 0 0 30px;
}

.stocks__item_woman {
    background-image: url(../img/stock-woman.jpg);
}

.stocks__item_man {
    background-image: url(../img/stock-man.jpg);
}

.stocks__item_kid {
    background-image: url(../img/stock-kid.jpg);
}

.stocks__item_shoes {
    min-height: 160px;
    width: 100%;
    background-image: url(../img/stock-shoes.jpg);
}

.stocks__title {
    color: var(--white-color);
    text-transform: uppercase;   
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.stocks__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink-color);
}

/* FEATURED */

.featured__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 97px 0 6px 0;
}

.featured__text{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 17px;
    color: var(--grey-color);
    margin: 0 0 46px 0;
}

.featured__link {
    text-decoration: none;
}

.featured__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured__item {
    width: 360px;
    min-height: 420px;
    background-color: var(--background-grey-color);
    margin: 0 0 30px 0;
}

.featured__text-wrapper {
    padding: 25px 16px 20px 16px;
}

.featured__item-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 14px;
    color: var(--black-color);
    text-transform: uppercase;
}

.featured__item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--dark-grey-color);
    margin: 0 0 18px 0;
}

.featured__price-item {
    color: var(--dark-pink-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.featured__button-more {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--button-pink-color);
    border: 1px solid var(--button-pink-color);
    padding: 13px 38px;
    margin: 18px auto 95px auto;
    text-decoration: none;
}

/* ADVANTAGES */

.advanteges {
    background-color: var(--dark-grey-color);
}

