$black-color: #222222;
$background-pink-color: #f1e4e6;
$overlay-grey-color: rgba(0, 0, 0, 0.5);
$overlay-light-grey-color: rgba(58, 56, 56, 0.86);
$text-pink-color: #f16d7f;
$white-color: #ffffff;
$grey-color: #9f9f9f;
$button-background-grey: #e1e1e1;
$dark-grey-color: #5d5d5d;
$background-grey-color: #f8f8f8;
$button-pink-color: #f26376;
$text-white-color: #fbfbfb;
$breadcrumbs-color: #f8f3f4;
$border-grey-color: #a4a4a4;
$registration-text-color: #b1b1b1;
$cart-background-color: #f5f3f3;
$cart-hr-color: #e2e2e2;
