@import "./variables";
@import "./mixins";
@import "./reset";
@import "./blocks/header";
@import "./blocks/intro";
@import "./blocks/stocks";
@import "./blocks/featured";
@import "./blocks/advantages";
@import "./blocks/footer";
@import "./blocks/breadcrumbs";
@import "./blocks/registration";
@import "./common";
