.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 96px 0 0 0;
}

.cart-item {
    display: flex;
    position: relative;
    width: 652px;
    margin: 0 0 40px 0;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

    .cart-item__text-wrapper {
        margin: 22px 0 0 31px;
    }

    .cart-item__title {
        @include font(24px, 29px, 400);
        margin: 0 0 42px 0;
        text-transform: uppercase;

        &_row {
            display: block;
        }
    }

    .cart-item__price {
        @include font(22px, 26px, 400);
        margin: 0 0 6px 0;

        &_number {
            color: $text-pink-color;
        }
    }

    .cart-item__color {
        @include font(22px, 26px, 400);
        margin: 0 0 6px 0;
    }

    .cart-item__size {
        @include font(22px, 26px, 400);
        margin: 0 0 6px 0;
    }

    .cart-item__quantity {
        @include font(22px, 26px, 400);
        margin: 0 0 6px 0;
        position: relative;

        // Пока так реализовал количество quantity
        &::before {
            position: absolute;
            content: "2";
            border: 1px solid black;
            right: 0px;
            top: 0px;
            padding: 0 20px;
        }
    }

    // Пока так реализовал удаление из корзины (крестик)
    .cart-item__remove {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    @media (max-width: $mobile-width) {
        .cart-item__text-wrapper {
            margin: 22px 0 0 13px;
        }

        & {
            min-height: 188px;
        }

        .cart-item__title {
            @include font(16px, 19px, 400);
            margin: 0 0 25px 0;
        }

        .cart-item__price,
        .cart-item__color,
        .cart-item__size,
        .cart-item__quantity {
            @include font(14px, 16px, 400);
        }
    }
}

.cart-button-wrapper {
    margin: 69px 0 144px 0;
    display: flex;
    justify-content: space-between;

    .cart-button-wrapper__link {
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
        font-style: normal;
        padding: 16px 40px;
        text-transform: uppercase;
        border: 1px solid $black-color;
        outline: none;
        text-decoration: none;
        color: $black-color;
    }

    .cart-button-wrapper__button {
        color: $black-color;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
        font-style: normal;
        padding: 16px 40px;
        text-transform: uppercase;
        border: 1px solid $black-color;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

    @media (max-width: $mobile-width) {
        .cart-button-wrapper__link,
        .cart-button-wrapper__button {
            @include font(12px, 14px, 400);
            padding: 10px 0;
            width: 48%;
            text-align: center;
        }
    }
}

.checkout {
    width: 360px;

    .checkout__form {
        display: flex;
        flex-direction: column;
    }

    .checkout__title {
        @include font(16px, 19px, 300);
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }

    .checkout__input {
        @include font(13px, 16px, 300);
        margin: 0 0 20px 0;
        min-height: 45px;
        border: 1px solid $border-grey-color;
        padding: 0 0 0 17px;
        outline: none;

        &::placeholder {
            color: $registration-text-color;
        }
    }

    .checkout__button {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 13px;
        font-weight: 300;
        font-style: normal;
        padding: 10px 0;
        border: 1px solid $border-grey-color;
        background-color: transparent;
        width: 110px;
        cursor: pointer;
        outline: none;
        color: $border-grey-color;
    }

    .checkout__total {
        margin: 57px 0 0 0;
        background-color: $cart-background-color;
        min-height: 214px;
        display: flex;
        flex-direction: column;
    }

    .checkout__price {
        @include font(16px, 19px, 300);
        text-align: right;
        margin: 0 34px 39px 0;
        text-transform: uppercase;

        &_number {
            @include font(16px, 19px, 700);
            color: $text-pink-color;
            margin: 0 0 0 15px;
        }
    }

    .checkout__price-discount {
        @include font(11px, 13px, 400);
        text-align: right;
        margin: 39px 34px 12px 0;
        text-transform: uppercase;

        &_number {
            margin: 0 0 0 15px;
        }
    }

    .checkout__link-send {
        color: #ffffff;
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        font-style: normal;
        padding: 15px 0;
        background-color: #f16d7f;
        text-align: center;
        text-decoration: none;
        border: none;
        outline: none;
        width: 273px;
        margin: 0 auto;
        text-transform: uppercase;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -17px;
            border: 1px solid $cart-hr-color;
            width: 273px;
            left: 0;
        }
    }
}

@media (max-width: $tablet-width) {
    .cart-container {
        flex-direction: column;
    }

    .cart-item {
        width: 100%;
    }

    .cart-button-wrapper {
        justify-content: space-around;
    }

    .checkout {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 140px 0;

        .checkout__form {
            width: 48%;
        }

        .checkout__total {
            width: 48%;
            margin: 37px 0 0 0;
        }
    }
}

@media (max-width: $mobile-width) {
    .cart-item__img {
        width: 143px;
    }

    .cart-button-wrapper {
        margin: 30px 0 48px 0;
    }

    .checkout {
        flex-direction: column;
        margin: 0 0 90px 0;

        .checkout__form {
            width: 100%;
        }

        .checkout__total {
            width: 100%;
        }
    }

    .cart-container {
        padding: 30px 0 0 0;
    }
}
