.header {
    background-color: $black-color;
    position: relative;

    // Как объеденить 6 и 10 строчку?
    &:hover .header__nav {
        display: block;
    }

    &:hover .header__menu-overlay {
        display: block;
    }

    .header__wrapper {
        min-height: 75px;
        @include flex-center-space-between;
    }

    .header__search-form {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 27px;
            height: 28px;
            top: 3px;
            left: -33px;
            background-image: url(../img/header-search.svg);
        }
    }

    .header__search {
        outline: none;
        border: none;
        padding: 10px 20px;
    }

    .header__logo-link {
        margin: 0 68px 0 0;
    }

    .header__icon {
        fill: $grey-color;
    }

    .header__list {
        display: flex;
        align-items: center;
    }

    .header__logo-wrapper {
        display: flex;
        align-items: center;
    }

    .header__button {
        background-color: transparent;
        border: none;
        margin: 0 0 0 33px;
        outline: none;

        &:hover .header__icon {
            fill: $text-pink-color;
            cursor: pointer;
        }
    }

    .header__menu-overlay {
        position: absolute;
        width: 100%;
        height: 764px;
        left: 0px;
        top: 75px;
        background: $overlay-grey-color;
        display: none;
    }

    .header__nav {
        position: absolute;
        top: 75px;
        background-color: $white-color;
        right: 0;
        width: 232px;
        min-height: 765px;
        display: none;
    }

    .nav-container__title {
        color: $black-color;
        @include font(14px, 17px, 700);
        text-transform: uppercase;
        margin: 37px 0 24px 32px;
    }

    .nav-container__list {
        margin: 0 0 0 32px;
    }

    .nav-container__item {
        margin: 0 0 20px 0;
    }

    .nav-container__subtitle {
        color: $text-pink-color;
        @include font(14px, 17px, 400);
        text-transform: uppercase;
        margin: 0 0 12px 0;
    }

    .nav-container__subitem {
        margin: 0 0 10px 20px;
    }

    .nav-container__link {
        color: $grey-color;
        text-decoration: none;

        &:hover {
            color: $text-pink-color;
        }
    }
}
