.intro {
    display: flex;

    .intro__title-wrapper {
        width: 100%;
        background-color: $background-pink-color;
        display: flex;
        align-items: center;
        padding: 0 0 0 64px;
    }

    .intro__title {
        @include font(32px, 38px, 700);
        text-transform: uppercase;
        border-left: 12px solid $text-pink-color;
        padding: 0 0 0 16px;
        color: $black-color;
    }

    /* Может здесь тоже модификатор лучше будет? */

    .intro__bold-text {
        display: block;
        @include font(48px, 58px, 900);
    }

    .intro__pink-text {
        color: $text-pink-color;
    }
}
