.registration {
    height: 675px;

    .registration__container {
        padding: 64px 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    .registration__form-wrapper {
        width: 365px;
    }

    .registration__form {
        display: flex;
        flex-direction: column;
    }

    .registration-form__title {
        @include font(16px, 19px, 300);
        margin: 0 0 20px 0;
        color: $black-color;
    }

    .registration-form__input {
        width: 345px;
        min-height: 45px;
        border: none;
        outline: 1px solid #a4a4a4;
        margin: 0 0 20px 0;
        padding: 0 0 0 15px;
    }

    .registration-form__radio-wrapper {
        margin: 10px 0 34px 0;
    }

    .registration-form__label {
        margin: 0 15px 0 0;
    }

    .registration-form__radio {
        visibility: hidden;
        position: absolute;
        z-index: -1;
        opacity: 0;

        & + .registration-form__label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        // Почему такие конструкции не работают?

        // & + .registration-form__label::before {
        //     width: 17px;
        //     height: 17px;
        //     border: 1px solid $border-grey-color;
        //     border-radius: 50%;
        //     margin: 0 6px 0 0;
        // }

        // &:checked + .registration-form__label::before {
        //     background-color: $button-pink-color;
        //     border: 1px solid $button-pink-color;
        // }
    }

    .registration-form__radio + .registration-form__label::before {
        content: "";
        width: 17px;
        height: 17px;
        border: 1px solid $border-grey-color;
        border-radius: 50%;
        margin: 0 6px 0 0;
    }

    .registration-form__radio:checked + .registration-form__label::before {
        background-color: $button-pink-color;
        border: 1px solid $button-pink-color;
        width: 17px;
        height: 17px;
    }

    .registration-form__text {
        @include font(13px, 16px, 300);
        color: $registration-text-color;
        margin: 0 0 35px 0;
    }

    .registration-form__button {
        @include font(14px, 17px, 400);
        color: $white-color;
        width: 167px;
        min-height: 50px;
        background-color: $text-pink-color;
        border: none;
        outline: none;
        text-transform: uppercase;
        position: relative;
    }

    .registration-form__button-title {
        position: relative;
        margin: 0 40px 0 0;

        &:after {
            content: "";
            background-image: url(../img/registration-arrow.svg);
            position: absolute;
            top: 3px;
            right: -37px;
            width: 17px;
            height: 10px;
        }
    }

    .registration__perks-wrapper {
        width: 652px;
        height: 300px;
    }

    .registration-perks__title {
        @include font(24px, 29px, 300);
        color: $black-color;
        margin: 0 0 22px 0;
        text-transform: uppercase;
    }

    .registration-perks__text {
        @include font(24px, 29px, 300);
        color: $black-color;
        margin: 0 0 21px 0;
    }

    .registration-perks__item {
        @include font(24px, 29px, 300);
        color: $black-color;
        margin: 0 0 16px 43px;
        position: relative;

        &:before {
            content: "";
            background-image: url(../img/registration-check.png);
            width: 20px;
            height: 16px;
            position: absolute;
            top: 8px;
            left: -35px;
        }
    }
}
